{{ .RawContent }}


-# Generation Z Developers

{{- range .Site.Home.Sections.ByWeight}}

    {{ $content := where .Pages.ByWeight ".Params.status" "==" "content"}}

    {{ if gt (len $content) 0 }}
        {{ if .Params.Title }}

# {{ .Params.Title}}
{{ .RawContent }}

        {{ end }}
        {{range $content }}

## {{.Params.title}}
{{ .RawContent }}

        {{ end }}
    {{ end }}
{{- end }}



-# Draft Chapters

{{- range .Site.Home.Sections.ByWeight}}
    {{ $other   := where .Pages.ByWeight ".Params.status" "!=" "content"}}
    {{ if gt (len $other) 0 }}

        {{ if .Params.Title }}
# {{ .Params.Title}}
        {{ end }}
        {{range $other }}

            {{ if .Params.Title }}
## {{.Params.title}}

{{ .RawContent }}
            {{ end }}
        {{ end }}
    {{ end }}
{{- end }}
