<header>
    <div class="logo">
        {{ partial "header.html" . }}
    </div>
    <div class="burger"><a href="javascript:void(0);" style="font-size:15px;">&#9776;</a></div>
    {{- with .Site.Menus.shortcuts}}
    <nav class="shortcuts">
        {{- range sort . "Weight"}}
        <li class="" role="">
            <a href="{{.URL}}" {{if eq $.Site.Params.menushortcutsnewtab true}}target="_blank"{{end}} rel="noopener">
                {{safeHTML .Name}}
            </a>
        </li>
        {{- end}}
    </nav>
    {{- end}}
</header>